@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Poppinns', sans-serif;
    

}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
.loading-cursor {
    cursor: wait; /* Set the cursor to "wait" mode */
  }

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header.sticky{

    border-bottom: .1rem solid rgba(0,0,0,.2);
}


.heading{
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5px;
}


section{
    min-height: 100vh;
    padding: 7rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-img img{
    width: 40vw;
}

.home-content h3{

    font-size: 3.2rem;
    font-weight: 700;

}
.home-content h1{

    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    
}
.home-content p{

    font-size: 1.6rem;

    
}

.home-content h3:nth-of-type(2){

    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}

.logo{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
.navbar a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s ease;
      
}

.navbar a.active{
    color: var(--main-color);

      
}

.navbar a:hover{

    color: var(--main-color);
}

#menu-icon{

    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
    margin-right: 20px;
}
.home-img img{

    width: 40vw;
    animation: floatImage 4s ease-in-out infinite;

}

@keyframes floatImage{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-2.4rem);
    }

    100%{
        transform: translateY(0);
    }
}

.social-media a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{

    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{

    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
    
}

.back-btn{

    display: inline-block;
    padding: 1rem 2.8rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    font-size: 2rem;
    color: var(--main-color);

    transition: .5s ease;
}

.back-btn:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    
}

.service h2{

    margin-bottom: 5rem;

}

.service-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box{

    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.service-box i{

    font-size: 7rem;
    color: var(--main-color);

}

.service-box h3{
    font-size: 2.6rem;
}

.service-box p{
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}

.portfolio{

    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.protfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.protfolio-container .protfolio-box{

    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.protfolio-box img {

    width: 100%;
    transition: .5s ease;
}

.protfolio-box:hover img {

    transform: scale(1.1);
}

.protfolio-box .portfolio-layer{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(1, 88, 114), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.protfolio-box:hover .portfolio-layer{

    transform: translate(0);

}


.portfolio-layer h4{

    font-size: 3rem;

}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background:var(--text-color);
    border-radius: 50%;

}

.portfolio-layer a i {

    font-size: 2rem;
    color: var(--second-bg-color);

}
.contact{
    background: var(--second-bg-color);
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.contact form .input-box input{

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    width: 49%;
}
.contact form textarea{

    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);


}

.footer-text p {
    font-size: 1.6rem;
}
.footer-icontop a{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;


}

.footer-icontop a:hover{
    box-shadow: 0 0 1rem var(--main-color);

}
.footer-icontop a i{ 
    font-size: 2.4rem;
    color: var(--second-bg-color);

}

.personal-content{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
}
.personal-box{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    


}

.personal-box i{


    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1rem 1rem 1rem 0;
    transition: .5s ease;


}

.personal-box h2{


    color: var(--text-color);
    font-size: 2.2rem;

}
.header .left-nav{
    color: #0ef;
}
.call{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 2rem;
    transition: .5s ease;
}

.service h2{

    margin-bottom: 5rem;

}

.service-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-container .service-box{

    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}



.feed-back{
    background-color: var(--bg-color);
    padding: 10% 0;
}
.owl-corousel{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.owl-corousel .box-area{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 4rem 5rem 4rem;
    text-align: center;
    position: relative;
    display: block;
    color: var(--text-color);
    border: .2rem solid var(--bg-color);
    margin: 40px 0;
    transition: .5s ease;
}

.owl-corousel .box-area:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 .5rem var(--main-color);}


.box-area h3{
    font-size: 2.1rem;
    color: var(--text-color);
    margin-top: 60px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box-area h4{

    font-size: 1.77rem;
    font-weight: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(194, 194, 194);
}

.box-area p{

    font-size: 1.6rem;
    font-weight: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: justify;
}
.box-area .img-area{
    width: 120px;
    height: 120px;
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    z-index: 1;
    border: 5px solid var(--main-color);
    border-radius: 50%;
}

.box-area .img-area img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.response{
    display: none;
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    background: rgb(0, 255, 85);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: .5s ease;
    animation: fadeOut 3s ease-in;
}

.response_off{
    display: none;
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    background: rgb(0, 255, 85);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: .5s ease;
    animation: fadeOut 3s ease-in;
}
@keyframes fadeOut {
    0% { opacity: 1; } 
    100% { opacity: 0; } /* Fade out to opacity 0 */
  }

.response_on{
    display: block;
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    background: rgb(0, 255, 85);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    animation: fadeIn 3s ease-in;
}



.response_error{
    display: block;
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    background: rgb(255, 0, 34);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    animation: fadeIn 3s ease-in;
}


@keyframes fadeIn {
    0% { opacity: 0; } /* Start with opacity 0 */
    50% { opacity: 1; } /* Fade in to opacity 1 */
    100% { opacity: 100; } /* Fade out to opacity 0 */
  }

  .service-header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    opacity: 0.9;

}

.service_home{

    display: flex; 
    justify-content: center; 
    align-items: center;
    background-image: url(../assest/s4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: change 20s infinite ease-in-out;

}

@keyframes change{

    0%{

        background-image: url(../assest/s1.jpg);

    }

    25%{
        background-image: url(../assest/s2.jpg);
        
    }

    50%{

        background-image: url(../assest/s3.jpg);
        
    }

    75%{

        background-image: url(../assest/s4.jpg);
        
    }
}


.service_home-g{

    display: flex; 
    justify-content: center; 
    align-items: center;
    background-image: url(../assest/g/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: change 20s infinite ease-in-out;

}

@keyframes change{

    0%{

        background-image: url(../assest/g/1.jpg);

    }

    25%{
        background-image: url(../assest/g/2.jpg);
        
    }

    50%{

        background-image: url(../assest/g/3.jpg);
        
    }

    75%{

        background-image: url(../assest/g/4.jpg);
        
    }
}

.color-overlay{

    background: linear-gradient(to right, #159957, #155799);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 45px;




}

.service-details{

    display: block;
    background-color: var(--bg-color);
    background: #323946;
}

.service-details .text-block{

    margin-bottom: 5rem;
    

}


.text-block h3{

    font-size: 2.6rem;
    text-align: center;

}

.text-block p{

    font-size: 1.7rem;
    text-align: center;
    margin-top: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;

}
.text-block .icon{

    font-size: 4rem;
    text-align: center;
    color: var(--text-color);

}

.myworks{


    background: var(--bg-color);
    
}
.myworks .mywork-block{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to right, #159957, #155799);
    padding: 1rem;

    margin-bottom: 10rem;
    gap: 1.5rem;
    
    
    
}

.myworks .mywork-block:hover{

    border: 1px solid var(--second-bg-color);
    box-shadow: 0 0 1rem var(--second-bg-color);
    
    
}

.mywork-block .block-content{

    margin-left: 3rem;
    margin-right: 3rem;
}

.mywork-block img{

    width: 40vw;
   
}

.block-content img{

    width: 4vw;
    margin-bottom: 0.6rem;
}

.block-content h3{

    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.block-content p{

    font-size: 1.7rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.block-content h4{

    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.block-content a{

    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);


}

.block-content a:hover{
    color: var(--bg-color);

}

.block-content .req-container{
    display: flex;
    gap: 10rem;
}

.hireme{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
}
.hireme-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    
}

.hireme-container .service-box{

    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-bg-color);
    transition: .5s ease;
    padding-top: 5rem;
    padding-bottom: 5rem;

    
}
.service-box .hireme-txt{

    font-size: 1.6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 0;
    text-align: center;
}

.hireme-contact{

    display: inline-flex;
}
.hireme-contact i{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--text-color);
    margin: 3rem 1.5rem 3rem 2rem;
    transition: .5s ease;

}

.hireme-contact i:hover{

    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  .container .heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .container .heading h3{
    font-size: 7rem;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #d8d8d8;
  }
  
  .container .heading h3 span{
    font-weight: 100;
  }
  .container .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .container .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
  }



/* Styles for small screens */
@media screen and (max-width: 768px) {

    .container .box{
        flex-direction: column;
       }
     
     .container .box .dream{
       width: 100%;
     }
     

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
        
    }

    .navbar.active{
        display: block;
        
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{ 
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;

    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{

        flex-direction: column-reverse;
    }

    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .service h2{
        margin-bottom: 3rem;
    }

    .portfolio h2{

       margin-bottom: 3rem; 
    }

    .protfolio-container{

        grid-template-columns: repeat(2, 1fr);

    }



    /* CSS rules for small screens */
  }
  
  /* Styles for medium screens */
  @media screen and (min-width: 768px) and (max-width: 991px) {

    .header{
        padding: 2rem 3%;
    }
    section{

        padding: 10rem 3% 2rem;
    }

    .footer{

        padding: 2rem 3%;
    }

    .service{
        padding-bottom: 7rem;
    }

    .portfolio{

        padding-bottom: 7rem;
    }

    .contact{
      min-height: auto;  
    }
    /* CSS rules for medium screens */
  }
  
  /* Styles for large screens */
  @media screen and (min-width: 1200px) {
    /* CSS rules for large screens */

    html{
        font-size: 55%;
    }
  }


  @media screen and (max-width: 617px) {

    .container .heading{
        width: 100%;
      }
      .container .heading h3{
        font-size: 1em;
      
      }
      
    .protfolio-container{
        grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 450px) {
    /* CSS rules for large screens */

    html{
        font-size: 50%;
    }

    .contact form .input-box input{

        width: 100%;
    }
  }

  @media screen and (max-width: 365px) {
    /* CSS rules for large screens */

    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }

    .footer p{

        text-align: center;
        margin-top: 2rem;
    }
  }
  